@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Open+Sans:ital@1&display=swap');

* {
margin: 0;
padding: 0;
font-family: 'Inter', sans-serif;
font-family: 'Open Sans', sans-serif;
}

body{
height: 100vh;
background: linear-gradient(120deg, #0f73f6d8, #ff2525da);
display: flex;
align-items: center;
justify-content: center;

}

.Relogio{
display: flex;
align-items: center;
justify-content: space-around;
height: 200px;
width: 550px;
background: transparent;
border-radius:3px ;
box-shadow: 0px 8px 10px rgba(0, 0, .5);

}

.Relogio div {
height: 170px;
width: 150px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
color: white;
background: rgba(5, 5, 5,.9);
box-shadow: 5px 5px 15px rgba(5, 5, 5,.7);
border-radius: 7px;
letter-spacing: 3px;
}

.Relogio span{
    font-weight: bolder;
    font-size: 60px;
}

.Relogio span.tempo{
font-size: 10px;

}
